<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueJs测试</title>
    <script src="node_modules/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="message">
        <hr>
        <input v-model="person.name"><br>
        <input v-model="person.age"> <button @click="person.age++">+</button>
        <h2>
            姓名为：{{person.name}}；年龄为：{{person.age}}
        </h2>
    </div>
    <script type="text/javascript">
        var app = new Vue({
            el: "#app",
            data: {
                message: "小红",
                person:{"name":"就啊哈", "age":12}
            },
            watch: {
                message(newValue, oldValue) {
                    console.log("新值：" + newValue + ", 旧值" + oldValue);
                },
                person: {
                    //开启深度监控，可以监控到对象属性值的变化
                    deep: true,
                    //监控的处理方法
                    handler(obj){
                        console.log("name = " + obj.name + ", age=" + obj.age);
                    }
                }
            }
        });
    </script>
</body>
</html>